<div class="login-view">
  <div class="container-fluid" style="min-width: 100vw; min-height: 100vh;">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" style="min-height: 100vh; background-color: #e3f2fd;">
        <div class="d-flex justify-content-center align-items-center"
             style="min-width: 100% !important; min-height: 100%">
          <div class="left-side">
            <div class="mat-display-1 text-center text-dark-primary">Centro Oftalmológico Metropolitano</div>
            <img src="../../../assets/images/ClinicaSampsonLogin.png" alt="Login artboard" width="500" class="mx-auto">
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 bg-light" style="min-height: 100vh;">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 100%">
          <form [formGroup]="loginForm" class="shadow-lg p-5 mb-5 bg-white rounded w-50" (submit)="doLogin()">
            <span class="mat-title mb-4">Iniciar sesión</span>
            <mat-form-field appearance="outline" class="w-100 mt-4">
              <label for="email"></label>
              <mat-label>Ingrese su correo electrónico</mat-label>
              <input matInput formControlName="email" id="email" type="email">
              <mat-error *ngIf="getFormControl('email')?.hasError('required')">
                * El email es requerido
              </mat-error>
              <mat-error *ngIf="getFormControl('email')?.hasError('email')">
                * El email debe de tener un formato válido
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <label for="password"></label>
              <mat-label>Ingrese su contraseña</mat-label>
              <input matInput formControlName="password" id="password" type="password">
              <mat-error *ngIf="getFormControl('password')?.hasError('required')">
                * La contraseña es requerida.
              </mat-error>
            </mat-form-field>

            <div class="actions w-100 d-flex justify-content-end">
              <button type="button" mat-stroked-button (click)="doLogin()" class="ml-auto mt-1">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
