<div class="login-view">
  <div class="container-fluid" style="min-width: 100vw; min-height: 100vh;">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" style="min-height: 100vh; background-color: #e3f2fd;">
        <div class="d-flex justify-content-center align-items-center"
             style="min-width: 100% !important; min-height: 100%">
          <div class="left-side">
            <div class="mat-display-1 text-center text-dark-primary">Centro Oftalmológico Metropolitano</div>
            <img src="../../../assets/images/ClinicaSampsonLogin.png" alt="Login artboard" width="500" class="mx-auto">
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">

      </div>
    </div>
  </div>
</div>
