.patients-table-component {
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  mat-card {
    border-radius: 1rem !important;
  }

  .hovered {
    &:hover {
      cursor: pointer;

      background-color: rgba(0, 0, 0, 0.07);
    }
  }
}
