/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-dark-primary {
  color: #152349;
}

#toast-container > div {
  opacity: 1;
}

.cdk-overlay-container {
  z-index: 2000;
}

button {
  border: none;
}

.cdk-focused, .cdk-mouse-focused {
  border: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none
}

::-webkit-scrollbar:vertical {
  width: 8px
}

::-webkit-scrollbar:horizontal {
  height: 10px
}

button:focus {
  outline: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black-transparent-20, rgba(0, 0, 0, 0.2));
  -webkit-border-radius: 4px;
  border-radius: 4px
}

mat-drawer {
  border-style: none !important;
}

mat-dialog-container {
  border-radius: 1rem !important;
}

.timepicker__header {
  background-color: #f8f9fa !important;
}

.timepicker-dial__item, .timepicker-dial__time[_ngcontent-keg-c25] {
  color: #6c757d !important;
}

.timepicker-dial__item_active {
  color: #3f51b5 !important;
}

span.active, .clock-face__clock-hand {
  background-color: #3f51b5 !important;
  color: #f8f9fa !important;
}

.timepicker-button {
  color: #3f51b5 !important;
}

.min-h-full {
  min-height: calc(100vh - 3rem) !important;
}

.min-h-full-mt-5 {
  min-height: calc(100vh - 7rem) !important;
}

.min-h-90 {
  min-height: calc(90vh - 3rem) !important;
}

.min-h-90-mt-5 {
  min-height: calc(90vh - 7rem) !important;
}
